In [1]:
import pandas as pd

In [7]:
#imports csv and converts to dataframe
df = pd.read_csv("Resources/city_weather.csv")
df.head()

,Unnamed: 0,City Name,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lumeje,-11.55,20.78,70.30,66.0,0.0,6.76,AO,1.601700e+09
1,1,Sawakin,19.11,37.33,86.18,62.0,0.0,4.54,SD,1.601700e+09
2,2,Rikitea,-23.12,-134.97,73.13,79.0,3.0,15.64,PF,1.601700e+09
3,3,Bethel,41.37,-73.41,46.99,93.0,1.0,4.70,US,1.601700e+09
4,4,Yellowknife,62.46,-114.35,41.00,93.0,40.0,5.82,CA,1.601700e+09

In [9]:
#check the column names
df.columns

Index(['Unnamed: 0', 'City Name', 'Lat', 'Long', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [10]:
#drop the Unamed:0 column
df.drop(columns = ["Unnamed: 0"], inplace = True)

In [11]:
#convert dataframe to HTML and save 
df.to_html('Assets/table.html')

In [12]:
df.head()

,City Name,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Lumeje,-11.55,20.78,70.30,66.0,0.0,6.76,AO,1.601700e+09
1,Sawakin,19.11,37.33,86.18,62.0,0.0,4.54,SD,1.601700e+09
2,Rikitea,-23.12,-134.97,73.13,79.0,3.0,15.64,PF,1.601700e+09
3,Bethel,41.37,-73.41,46.99,93.0,1.0,4.70,US,1.601700e+09
4,Yellowknife,62.46,-114.35,41.00,93.0,40.0,5.82,CA,1.601700e+09